echo .vs/ > .gitignore
echo x64/ >> .gitignore
echo *.dll >> .gitignore
echo *.exe >> .gitignore
echo *.pdb >> .gitignore
echo *.ilk >> .gitignore
echo *.obj >> .gitignore
echo *.ipch >> .gitignore
echo *.user >> .gitignore
echo *.vcxproj >> .gitignore
echo *.vcxproj.filters >> .gitignore
echo *.vcxproj.user >> .gitignore
echo *.slnx >> .gitignore